body {
	background: #0f0c29; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#contentWrap {
	display: none;
}
.error {
	color: red;
}
.whisper {
	color: gray;
	font-style: italic;
}
.old {
	color: #888;
}
#chat p {
	margin: 0;
}